/* colorGreen =  #1abc9c
colorGray = #2c3e50 */


/*--- body ---*/

html {
    scroll-behavior: smooth;
}

body {
    background-color: #fff;
    font-family: 'Ubuntu';
    color: #2c3e50;
}

a {
    color: #1abc9c;
}

a:hover {
    color: #1abc9c;
}

h6 {
    color: #fff;
    padding-top: 2rem;
}

.col-lg-3 {
    padding-left: 0px;
    padding-right: 0px;
}


/*--- navigation bar ---*/

.navbar {
    background-color: #1abc9c;
    padding-bottom: 0rem;
    padding-top: 0rem;
    font-size: 13px;
}

.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
}

.nav-link {
    margin-right: 1em !important;
}

.navbar-collapse {
    justify-content: flex-end;
}


/*--- header ---*/

.header {
    background-image: url('../img/background.jpeg');
    background-size: cover;
    background-position: center;
    position: relative;
}


/*--- jumbotron ---*/

.jumbotron {
    background-color: #fff;
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
}


/*--- section ---*/

.section {
    background-color: #2c3e50;
}

.section-new {
    background-color: #1abc9c;
    color: #fff;
}

.section-new>ul>li {
    font-size: 16px;
    margin-bottom: 1rem;
}


/*--- contact ---*/

.contact {
    padding-top: 100px;
    padding-bottom: 20px;
    text-align: center;
}